.GP{
    DISPLAY:flex;
    justify-content: center;
    align-items: center;
    height: 100VH;

}
.PARENT{display: flex;
    vertical-align: top;
    background-color:blueviolet;
    color: black;
    
    margin-right: 20px;
    width:100PX;
}
.CHILD{border: 20px solid blue;
    background-color: chartreuse;
    width: 90px;

}
